* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-size: 1.6rem;
  font-family: Lato;
  background-image: url("../img/background.png");
}

.wrapper {
  display: flex;
  position: relative;

  .blockone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    .general {
      background-image: url("../img/car.png");
      width: 740px;
      height: 540px;
    }

    .second {
      background-image: url("../img/background_block.png");
      width: 360px;
      height: 540px;
    }
  }

 .blocktwo{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;


  .third {
    background-image: url("../img/background_block.png");
    width: 360px;
    height: 540px;
  }

  .fourth {
    background-image: url("../img/background_block.png");
    width: 360px;
    height: 540px;
  }

  .fifth {
    background-image: url("../img/background_block.png");
    width: 360px;
    height: 540px;
  }
 }
}